gs-recommendation-biz/target/
gs-recommendation-biz/.checkstyle
gs-recommendation-biz/.classpath
gs-recommendation-biz/.project
gs-recommendation-biz/.settings/
gs-recommendation-biz/.springBeans
gs-recommendation-biz/.idea/
gs-recommendation-biz/*.iml

gs-recommendation-common/target/
gs-recommendation-common/.checkstyle
gs-recommendation-common/.classpath
gs-recommendation-common/.project
gs-recommendation-common/.settings/
gs-recommendation-common/.springBeans
gs-recommendation-common/.idea/
gs-recommendation-common/*.iml

gs-recommendation-dal/target/
gs-recommendation-dal/.checkstyle
gs-recommendation-dal/.classpath
gs-recommendation-dal/.project
gs-recommendation-dal/.settings/
gs-recommendation-dal/.springBeans
gs-recommendation-dal/.idea/
gs-recommendation-dal/*.iml

gs-recommendation-service/src/main/resources/local/
gs-recommendation-service/target/
gs-recommendation-service/.checkstyle
gs-recommendation-service/.classpath
gs-recommendation-service/.project
gs-recommendation-service/.settings/
gs-recommendation-service/.springBeans
gs-recommendation-service/.idea/
gs-recommendation-service/*.iml

gs-recommendation-web/src/main/webapp/WEB-INF/classes
gs-recommendation-web/target/
gs-recommendation-web/.checkstyle
gs-recommendation-web/.classpath
gs-recommendation-web/.project
gs-recommendation-web/.settings/
gs-recommendation-web/.springBeans
gs-recommendation-web/.idea/
gs-recommendation-web/*.iml

gs-recommendation-util/target/
gs-recommendation-util/.checkstyle
gs-recommendation-util/.classpath
gs-recommendation-util/.project
gs-recommendation-util/.settings/
gs-recommendation-util/.springBeans
gs-recommendation-util/.idea/
gs-recommendation-util/*.iml

.git
.project
.settings/
